<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Sample App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">Home</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="starter-template" ng-init="init()">
        <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 pull-right form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="txtSearch" placeholder="Search" aria-describedby="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div cg-busy="myPromise"></div>
                        <table class="table table-hover" id="codeTable" ng-table="tableParams">
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in $data">
                                    <td  sortable="'firstName'">{{row.firstName}}</td>
                                    <td  sortable="'lastName'">{{row.lastName}}</td>
                                    <td  sortable="'email'">{{row.email}}</td>
                                    <td>
                                        <a href="" ng-click="openMail(row)" class="update-icon btn btn-primary btn-xs"> <i class="glyphicon glyphicon-envelope"></i></a>
                                        <a href="" ng-click="confirmDelete($index)" class="delete-icon btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
